<%- include("header"); -%>

<div class="box" id="heading">
  <div>
    <a href="/" class="left-btn"><i class="fa-solid fa-chevron-left"></i></a>
    <h1>ERROR <%= statusCode %></h1>
  </div>
</div>

<div class="box">
  <div class="item">
    <h4 class="m-auto"><%= message %></h4>
  </div>
</div>

<%- include("footer"); -%>
